%header
  .row
    .large-2.columns
      %h1
    .large-6.columns
      %h1 LDS Temple Quiz
    .large-4.columns
      %a{:href => quiz_index_path}
        %button#take_quiz Take the Quiz
      -if user_signed_in?
        =link_to(destroy_user_session_path, :method => 'delete') do
          %button#logout_button Logout
      -else 
        =link_to(new_user_session_path) do
          %button#login_button Login