.row
  .large-2.columns
    %dl.accordion{'data-accordion' => true}
      -@countries.each do |country|
        %dd.accordion-navigation
          %a{:href => '#g'+country.id.to_s, 'data-load' => country.id}=country.name
          .content{:id => 'g'+country.id.to_s}

  .large-10.columns
    #gmap