.row
  .large-2.columns
    %dl.accordion{'data-accordion' => true}
      -@continents.each do |continent|
        %dd.accordion-navigation
          %a{:href => '#g'+continent.id.to_s, 'data-load' => continent.id}=continent.name
          .content{:id => 'g'+continent.id.to_s}

  .large-10.columns
    #temple_photos
    #gmap