#home
  .row
    .large-2.columns
      %dl.accordion{'data-accordion' => true}
        %dd.accordion-navigation
          %a{:href => '#g0', 'data-load' => 0} All Temples
          .content#g0
        -@continents.each do |continent|
          -if continent.has_temples?
            %dd.accordion-navigation
              %a{:href => '#g'+continent.id.to_s, 'data-load' => continent.id}=continent.name
              .content{:id => 'g'+continent.id.to_s}

    .large-10.columns
      #gmap
      #temple_photos

= javascript_include_tag 'home'